/* CSS declarations go here */
body {
  padding: 20px;
  background: navy;
  text-align: center;
  color: white;
}

.question {
  text-align: center;
  margin:auto;
  display: inline-block;
  border: 10px solid silver;
  padding: 30px;
}

.footer {
  display: flex;
  margin-top: 15px;
  padding-top: 3px;
  border-top: 1px solid whitesmoke;
}

.question .question-noun {
  font-size: 1.5em;
  font-weight: bold;
  margin: 5px;
}

.question .btn {
  margin: 10px;
}

.question-translation {
  margin-left: 8px;
  color: silver;
}

.red-text { color: red}
.green-text { color: green}
.blue-text { color: blue}

.last-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  color: white;
}
.last-answer > div {
  margin: 10px;

}

.choices-container {
  display: block;
}
.choice-option {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  padding: 7px;
  align-items: center;
  justify-content:center;
  border: 1px solid gray;
}

.choice-checked {
  border-color: cyan;
  background-color: rgba(255, 255, 255, 0.2);
}

.choice-option input {
  margin: 0px;

}
.choice-option label {
  flex: 1;
  margin: 0px 0px 0px 10px;
}
